<section class="splash -pale-yellow -small">
  <div class="container">
    <div class="documentary">
      <h2 class="doc-header">About Our Documentary</h2>
      <div class="doc-images">
        <img src="./assets/images/thumb1.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb2.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb3.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb4.png" class="doc-thumbnails" />
      </div>
      <div class="doc-content">
        <p class="doc-text">Our film aims to shine a light on how the daily grind of their lives has shaped them into strong resilient forces of nature.</p>
        
        <p class="doc-text">We want employers to see the underprivileged as valuable human capital and not liabilities. We want to show that these are candidates employers are looking for to grow a stronger diverse company.</p>   
      </div>

      <div class="doc-misc">
        <a href="#" class="btn btn-lg btn-default btn-block">I’m in</a>
      </div>
    </div>
  </div>
</section>
