<section class="splash -pale-yellow -small">
  <div class="container">
    <div class="documentary">
      <h2 class="doc-header"> Documentary: “Rebranding” Underprivileged People </h2>
      <div class="doc-images">
        <img src="http://placehold.it/250x150" class="doc-thumbnails" />
        <img src="http://placehold.it/250x150" class="doc-thumbnails" />
        <img src="http://placehold.it/250x150" class="doc-thumbnails" />
        <img src="http://placehold.it/250x150" class="doc-thumbnails" />
      </div>
      <div class="doc-content">
        <p class="doc-text"> We are filming a short documentary series that aim to give underprivileged people a new and more fitted image </p>   
        <p class="doc-text"> — a “fighter” image. </p> 
        <p class="doc-text"> The fact that they need to go through walls everyday to survive is a testament of their toughness — an attribute to win in the business world. We believe the new image can lead to better employment opportunities for the lower­income people. Philippines is our first filming location. </p> 
      </div>
      <div class="doc-misc">
        <a href="#" class="btn btn-lg btn-default btn-block">Join the cause</a>
      </div>
    </div>
  </div>
</section>
