<section class="splash -pale-yellow -small">
  <div class="container">
    <div class="documentary">
      <h2 class="doc-header">Documentary: “Rebrand” the Underprivileged</h2>
      <div class="doc-images">
        <img src="./assets/images/thumb1.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb2.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb3.png" class="doc-thumbnails" />
        <img src="./assets/images/thumb4.png" class="doc-thumbnails" />
      </div>
      <div class="doc-content">
        <p class="doc-text">Our series aims to introduce a different viewpoint compared to how most people perceive "the underprivileged". We aim to invite decision makers to see how people from disadvantaged communities overcome tremendous challenges to achieve their goals. It is our hope that when potential employers witness this fighting spirit, they too will want to invite this hidden talent pool to join and benefit their organization. Philippines is our first filming location.</p>   
      </div>

      <p class="misc-text">We are crowdfunding for a longer series.</p>
      <div class="doc-misc">
        <a href="#" class="btn btn-lg btn-default btn-block">I’m in</a>
      </div>
    </div>
  </div>
</section>
