<section class="splash -events -small">
  <div class="container">
    <div class="event-details">
      <h3 class="event-header">Featured Event</h4>
      <h2 class="event-title">Kickoff Event at Resorts World Manila</h2>

      <div class="event-venue">
        <h4>Resorts World Manila</h4>
        <p>Newport Blvd Pasay City</p>
      </div>

      <div class="event-datetime">
        <h4>July 16, 2015</h4>
        <p>Thursday from 06:00 PM to 08:00 PM (HKT)</p>
      </div>

      <div class="event-actions"> 
        <a href="http://www.ticketbase.com/events/bolded" class="btn btn-lg btn-event">View Event</a>
      </div>
    </div>
    <div class="event-misc">
      <p>This event is proudly powered by 
        <span><a href="http://www.ticketbase.com">Ticketbase</a></span>
      - ticketing reinvented. Start your event with us today!</p>
    </div>
  </div>
</section>

<!--<div class="event-list">-->
  <!--<h2 class="event-header">Attend a BOLDED event</h2>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<h5 class="event-location">Manila, Philippines</h5>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Reach For Peace</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Welcome Young Yankees</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Jumpstack</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<h5 class="event-location">Manila, Philippines</h5>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Reach For Peace</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Welcome Young Yankees</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Jumpstack</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<h5 class="event-location">Manila, Philippines</h5>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Reach For Peace</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Welcome Young Yankees</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
      <!--<div class="event-item">-->
        <!--<h4 class="event-name">Jumpstack</h4>-->
        <!--<p class="event-date ">June 20, 2015<p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="event-misc">-->
  <!--<a href="#" class="btn btn-lg btn-default btn-block">More events</a>-->
<!--</div>-->
