<section class="splash -events -small">
  <div class="container">
    <div class="event-list">
      <h2 class="event-header">Attend a BOLDED event</h2>
      <div class="row">
        <div class="col-md-4">
          <h5 class="event-location">Manila, Philippines</h5>
          <div class="event-item">
            <h4 class="event-name">Reach For Peace</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Welcome Young Yankees</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Jumpstack</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="event-location">Manila, Philippines</h5>
          <div class="event-item">
            <h4 class="event-name">Reach For Peace</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Welcome Young Yankees</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Jumpstack</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="event-location">Manila, Philippines</h5>
          <div class="event-item">
            <h4 class="event-name">Reach For Peace</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Welcome Young Yankees</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
          <div class="event-item">
            <h4 class="event-name">Jumpstack</h4>
            <p class="event-date ">June 20, 2015<p>
          </div>
        </div>
      </div>
    </div>

    <div class="event-misc">
      <a href="#" class="btn btn-lg btn-default btn-block">More events</a>
    </div>
  </div>
</section>
