<section class="splash -small-no-top">
  <div class="invite">
    <div class="container">
      <form class="form-horizontal">
        <div class="row">
          <label class="control-label">Add your name today and say you're on board</label>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="text" name="email" class="input-lg form-control" placeholder="Enter your email address" />
            <input type="submit" class="btn btn-lg btn-default" value="I'm in!"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
