<section class="splash -small-no-top">
  <div class="invite">
    <div class="container">
      <form class="form-horizontal" action="//bolded.us11.list-manage.com/subscribe/post?u=7212a5278dea0801a63c28e8d&amp;id=4613c9b243" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
        <div class="row">
          <label class="control-label">Add your name today and say you're on board</label>
        </div>
        <div class="row">
          <div class="form-group">
            <input type="email" name="EMAIL" class="input-lg form-control" required="required"  placeholder="Enter your email address" />
            <input type="submit" class="btn btn-lg btn-default" value="I'm in!"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
