<section class="splash -small">
  <div class="container">
    <div class="about-content">
      <h2 class="about-header">Our Objective</h2>
      <p class="about-text -objective"> BOLDED’S objective is to make the business world realizes that there’s an untapped pool of motivated low­income talent that is “undervalued by the marketplace”, and if given the opportunity, not only they can contribute to the company’s bottom­line, they will also be the first in their family to get a decent corporate job, and that effectively ends poverty in that family. That's irreversible progress.</p>
    </div>
  </div>
</section>
