<section class="splash -about -small">
  <div class="container">
    <div class="about-content">
      <h2 class="about-header">Our Objective</h2>
      <p class="about-text -objective"> The objective is to refocus the business world’s scope to realize there is a vast, valuable untapped pool of strong driven talent. At present, this group of tough-minded underprivileged young people, are greatly undervalued by the marketplace. Given the opportunity, this talent pool will contribute immensely to the company’s bottom-line as well as inject diverse, essential skills and value into the current homogenous workforce. Their employment will also make them the first in their family to get a decent corporate job, effectively ending poverty for their entire family.</p>
    </div>
  </div>
</section>
