<div class="splash -home -medium">
  <div class="container splash-container">
    <div class="splash-content">
      <h1 class="splash-header">A Movement Building Project</h1>
      <p class="splash-text">BOLDED is a movement. It is for any decision maker who wants a more productive workforce, while being part of creating a more equal world.</p>
      <p class="splash-text">If we could get to a place where what we do in life is determined not by social background but by our passions and characters, our companies would be more productive and our world not just better balanced but happier.</p>
      <div class="splash-actions">
        <a href="#" class="btn btn-lg btn-default-outline">I’m in</a>
      </div>
    </div>
    <div class="splash-misc">
      <a href="#" data-toggle="modal" data-target="#video-modal">
        <img src="./assets/images/play_btn.png" class="play-btn" />
      </a>
    </div>
  </div>
</div>
