<!--<div class="story">-->
  <!--<div class="container">-->
    <!--<div class="quote">-->
      <!--<q>-->
        <!--Some people look at you and think you should stop now, rest now.-->
        <!--You are still moving. Because you refuse to get stuck.-->
      <!--</q>-->

      <!--<p class="author">-- 19 years old. Rosalie Palloc. Caloocan City. Philippines.</p>-->
    <!--</div>-->
    <!--<p class="whole">-->
      <!--You live in a 9ft x 5ft x 6ft box with 5 family members. <br/>-->
      <!--You wake up with no food. No light. No electricity. <br/>-->
      <!--No one around you have a job that requires a CV. <br/>-->
      <!--They said you are stuck. <br/>-->
      <!--You look at yourself. <br/>-->
      <!--You had a body. And you knew it could move. <br/>-->
      <!--That mean you are not stuck. <br/>-->
      <!--<br/>-->
      <!--You work at fast-food 8 hours a day. <br/>-->
      <!--You go to school 7 hours the same day.-->
      <!--You study 4 hours the same day. <br/>-->
      <!--You sell vegetables in the market. <br/>-->
      <!--Do laundry for friends. Sell snacks in school.-->
      <!--You do anything needed to keep going. <br/>-->
      <!--You cannot be stopped. <br/>-->
      <!--<br/>-->

      <!--You sleep 5 hours a day. <br/>-->
      <!--You forget to get tired. <br/>-->
      <!--Some people look at you and think you should stop now, rest now. <br/>-->
      <!--You are still moving. <br/>-->
      <!--Because you refuse to get stuck. <br/>-->

      <!--<br/>-->
      <!--<strong>-->
        <!---- 19 years old. Rosalie Palloc. Caloocan City. Philippines.-->
      <!--</strong>-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->

