<section class="splash -smaller"> <div class="targets">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src="./assets/images/target_event.jpg" class="img-responsive target-image" />
          <!--<div class="splash -kit">-->
            <!--<div class="target-content">-->
              <!--<h2 class="target-header">Organize your own BOLDED event.</h2>-->
              <!--<p class="target-text">We’ve developed an “action kit” for enthusiastic individuals who are motivated to organize their own BOLDED events.</p>-->
              <!--<div class="target-misc">-->
                <!--<a href="#" class="btn btn-lg btn-default btn-target">Learn more</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>

        <div class="col-md-6">
          <img src="./assets/images/target_tech.jpg" class="img-responsive" />
          <!--<div class="splash -tech">-->
            <!--<div class="target-content">-->
              <!--<h3 class="target-header">I'm a tech company.</h3>-->
              <!--<p class="target-text">There’s an army of underprivileged young programmers eager to grab any opportunity that comes up.</p>-->
              <!--<div class="target-misc">-->
                <!--<a href="http://www.coded.red" class="btn btn-lg btn-default btn-target">I'm interested</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</section>
