<section class="splash -smaller">
  <div class="targets">
    <div class="container">
      <div class="row">
        <div class="col-md-6  splash -kit">
          <div class="target-content">
            <h2 class="target-header">Your own BOLDED event</h2>
            <p class="target-text"> We’ve developed an “action kit” for enthusiastic individuals who are motivated to organize their own BOLDED events. Event formats are flexible: private screening, private dinner, speaking event, discussion forums, etc. </p>
            <p class="target-text">The “action kit” contains our documentary videos, dedicated website for their events, event RSVP tools, dedicated online fundraising page, and social media support to help promote their events.</p>
            <p class="target-text">Attendees are encouraged to discuss the documentary and come up with unique Call for Action ideas.</p>
          </div>
          <div class="target-misc">
            <a href="mailto:bill@bolded.org" class="btn btn-lg btn-default btn-event">Be a local leader</a>
          </div>
        </div>
        <div class="col-md-6  splash -tech">
          <div class="target-content">
            <h3 class="target-header">I'm an Employer</h3>
            <p class="target-text">Hire young underprivileged programmers. (Manila­based tech companies only)</p>
          </div>
          <div class="target-misc">
            <a href="mailto:bill@bolded.org" class="btn btn-lg btn-default btn-block">Count me in</a>
            <p class="tip">We are working to expand our effort to different cities, countries and industries. Email us at xxx@bolded.org if you have any suggestions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
