<section class="splash -small">
<div class="team-members">
  <div class="container">
    <div class="founder">
    <div class="founder-content">
      <h2 class="founder-header">The Founder</h2>
      <img src="http://placehold.it/250x300" />
      <h4 class="founder-name">Billy Yuen</h4>
      <p class="founder-desc">Bill is a Hong Kong serial entrepreneur. 7 startups, 4 failed, 3 exit. He founded his first venture at age 18
      (entertainment), second at age 22 (wearable technology), fourth at age 26 (media), and seventh at age 30
      (artificial intelligence).</p>
      <p class="founder-desc">At age 31, Bill founded EntrepreneurHK — a private non­profit devoted to develop HK’s startup ecosystem</p>
      <p class="founder-desc">At age 32, Bill is shortlisted for the Talent Unleashed Inspirational Leadership Award 2014 – APAC’s largest
      technology awards program – for his effort of driving innovation using leadership. Virgin founder Sir Richard
      Branson and Apple co­founder Steve Wozniak headed the judging panel.</p>
      <p class="founder-desc">At age 33, Bill traveled to Tibet and Nepal, and climbed Mount Everest. In his trip, he has witnessed poverty
      first hand in rural China. He was taken with the idea that with his experience and creativity he could harness
      his expertise and money to better the lives of people in the developing world.</p>
      <p class="founder-desc">Today at age 34, Bill founded Project CODED – a project that aims to equip underprivileged young men and
      women job­ready programming skill and land them in a high­tech job – the type of jobs can effectively end
      poverty in their lives. Philippines is the launch region.</p>
      </p>
      <p class="founder-desc">In the same year, he produced a short documentary series and launched a “movement building” campaign
      named BOLDED. The goal is to change the world’s perception about underprivileged young people.</p>
    </div>
  </div>

</section>
