<section class="splash -team-message -small">
  <div class="container">
    <div class="about-content -message">
      <h2 class="about-header">To my Team:</h2>
      <div class="about-text"> 
        <p>Growing up in Canada, I played a lot of sports. And sports taught me a way to see the world. In sports, I just
      want to know “Can you play?”. There’s no race. There’s no gender. There’s no social background. There’s
      just people.</p>
        <p>But that’s not how things work in business. And I don’t like it.</p>
        <p>I can’t solve the race issue. I can’t solve the gender issue. But I have a plan for the social background issue.
        So I created BOLDED. But to make it big, the team must grow bigger and stronger. And I found you.</p>
        <p>I don’t quite know how things will pan out, but I think the journey is going to be fantastic, and we are going to
        love what we do because the things that we are doing are going to make people happy. Along the way, we
        are going to have some fun, share some laughs and a few beers. This is how we’re going to build something
        important that would last. Many people don’t believe it. But this is what I believe is true.</p>
        <p>I intend to write you a letter like this simply because I want to share with you BOLDED’s reason to exist and
        how I aim to move forward with you, in the most sincere and personal way.</p>
        <p>I’ve remembered everything that you’ve done to make BOLDED happen. And to each and every single one
        of you, I just want to say: Thank you.</p>
      </div>
    </div>
  </div>
</section>
