/**
 *  Header
 *
 */

body {
  background: black;
}

.body {
  background: white;
  /*max-width: 1600px;*/
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

.logo {
  padding: 0;
  img { height: 28px; }
  text-align: left;
}

.social-icons {
  float: right;
  .icon {
    font-size: 28px;
    margin-right: 20px;
  }
}

.jumbotron {
  background: linear-gradient(175deg, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.9) 50%, rgba(242, 217, 93, 0.68)), linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0) 10%), url(../assets/images/bg-test-1.jpg) center center/cover no-repeat, #ffffff;
  /*background: linear-gradient(175deg, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.9) 50%, rgba(242, 217, 93, 0.68)), linear-gradient(180deg, #FFFFFF, rgba(255, 255, 255, 0) 10%), url(assets/images/sf.jpeg) center top/cover no-repeat, #FFFFFF;*/
  height: 550px;
  margin-bottom: 0;
  text-align: center;
  .intro {
    padding: 120px 0;

    h3 {
      font-size: 1em;
      font-family: 'Avenir Next W01 Regular', 'Avenir Next', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #67531E;
    }

    h1 {
      font-size: 2.5em;
      /*color: #453F31;*/
      color: #000;
      font-weight: 300;
      font-family: 'Avenir Next W01 Light', 'Avenir Next', 'Helvetica Neue', sans-serif;
      /*'FrutigerSerifLTW01-ItalFrutiger'*/
      strong {
        font-family: 'Avenir Next LT W01 Demi', 'Avenir Next', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        color: #000;
        font-size: 0.7em;
      }
    }

    .btn.btn-outline {
      margin-top: 20px;
      padding: 12px 70px;
      font-size: 1.2em;
    }


  }

}

.btn.btn-primary {
  border: 1px solid #8C8139;
  background-color: #C1B66F;
  color: white;
  padding: 8px 50px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
}

.btn.btn-outline {
  border: 1px solid #818600;
  padding: 4px 50px;
  border-radius: 5px;
  color: #1C2003;
  font-size: 1em;
  font-weight: bold;
}

.separator {
  height: 1px;
  border-bottom: 1px solid #EEE;
  margin: 20px 0;
  &.borderless {
    border-bottom: none;
  }
}

.story {
  margin: 20px auto;

  .quote {
    width: 800px;
    margin: 0 auto;
    q {
      text-align: right;
      font-style: italic;
      font-size: 1.5em;
      color: rgb(142, 119, 26);
    }
    .author {
      margin-top: 10px;
      text-align: right;
      font-weight: bold;
    }
  }

  .whole {
    display: none;
    width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #EEE;
  }
}

.targets, .team {
  margin-top: 20px;
  font-size: .9em;
  text-align: center;
  h2 { text-align: center; margin-bottom: 30px; }
  h3 {
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }
  p {
    text-align: justify;
  }
}

.invite {
  text-align: center;
  .form-horizontal {
    margin: 0 auto;
    padding: 30px 0;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  input[type="text"] { font-size: 1.2em; padding: 5px 20px; margin-right: 10px; }
  input { font-size: 1.2em; }

  input.btn {
    margin-top: -5px;
    padding: 5px 30px;
    background-color: #C1B66F;
    border-color: #8C8139;
  }

  .btn-primary {  }
}

.invite-dark {
  margin-top: 100px;
  background: #000;
  label {
    color: white;
  }
}

.video {
  background: #F7F7F7;
  padding: 80px;
  text-align: center;
  h3 {
    font-weight: normal }
}

.founder {
  h2 { text-align: center; margin-bottom: 30px; }
}

/**
 * Site header
 */

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
