//colors

$black: #343434;
$blacker: #242424;
$gray: #4C5559;
$light-gray: #AAAAAA;
$lighter-gray: #DADADA;
$bluish-gray: #8C989E; 
$hr-gray: #E7E7E7;
$bg-gray: #FBFBFB;
$tb-green: #0abb96;

$spacing-unit: 30px;
