//colors

$yellow: #F0BD2F;
$dark-yellow: #BA9724;
$pale-yellow: #D6C6B3;
$blue: #61CACC;
$black: #343434;
$gray: #4C5559;
$lighter-gray: #DADADA;
$light-gray: #AAAAAA;
$bluish-gray: #8C989E; 
$hr-gray: #E7E7E7;
$bg-gray: #FBFBFB;

//old css
/*$base-font-size:   16px;*/
/*$small-font-size:  $base-font-size * 0.875;*/
/*$base-line-height: 1.5;*/

$spacing-unit: 30px;

/*$base-font-family: 'AvenirNextLTW01-Regular', 'Avenir Next', Helvetica, Arial, sans-serif;*/
/*$text-color:       #111;*/
/*$background-color: #fdfdfd;*/
/*$brand-color:      #2a7ae2;*/

/*$grey-color:       #828282;*/
/*$grey-color-light: lighten($grey-color, 40%);*/
/*$grey-color-dark:  darken($grey-color, 25%);*/

