/*$base-font-family: 'AvenirNextLTW01-Regular', 'Avenir Next', Helvetica, Arial, sans-serif;*/
/*$base-font-size:   16px;*/
/*$small-font-size:  $base-font-size * 0.875;*/
/*$base-line-height: 1.5;*/

/*$spacing-unit:     30px;*/

/*$text-color:       #111;*/
/*$background-color: #fdfdfd;*/
/*$brand-color:      #2a7ae2;*/

/*$grey-color:       #828282;*/
/*$grey-color-light: lighten($grey-color, 40%);*/
/*$grey-color-dark:  darken($grey-color, 25%);*/


$yellow: #ECC854; //btn
$dark-yellow: #B29125; //header
$pale-yellow: #D6C6B3; //bg
$black: #343434; //main-header
$gray: #4C5559; //paragraph
$lighter-gray: #DADADA;  //social icons
$light-gray: #AAAAAA; //footer-email
$bluish-gray: #8C989E: //small-notes
$hr-gray: #E7E7E7;
