h1, h2, h3, h4, h5, h6 {
  font-family: 'museo-sans-condensed', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $black;
}


p, span, label, a, table {
  font-family: 'AvenirNextLTW01-Regular', 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2;
  color: $gray;
}
