.about-content { 
  text-align: center;

  .about-header { 
    margin-bottom: 15px; 
    font-size: 2.8em;
  }

  .about-text {
    max-width: 600px;
    width: 100%;
    margin: auto;
    font-size: 1.2em;
    line-height: 2.4;

    &.-objective {
      max-width: 850px;
    }
  }

  &.-message {
    .about-header { 
      margin: 0 auto 20px;
      max-width: 800px;
      text-align: left;
    } 

    .about-text {
      max-width: 800px;
      font-size: 1.1em;
      text-align: left;
    }
  }
}
  
