.about-content { text-align: center; }

.about-header { margin-bottom: 25px; }

.about-text {
  max-width: 600px;
  width: 100%;
  margin: auto;
  font-size: 1.2em;

  &.-objective {
    max-width: 800px;
  }
}
