.btn {
  font-weight: 700;
  border-radius: 2px;
  padding: 12px 18px;
  @include transition(all 0.3s);
}

.btn-default {
  color: #fff;
  background: $black;
  border: transparent;

  &:hover, &:focus, &:active, &:active:focus {
    outline: none;
    color: #fff;
    background: lighten($black, 20%);
  }
}

.btn-default-outline {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;

  &:hover, &:focus, &:active, &:active:focus {
    outline: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
}


