.event-list {
  .event-header { 
    margin-bottom: 35px; 
    color: $grayish-white;
  }
  
  .event-location {
    font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: $dark-yellow;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .event-item {  margin-bottom: 10px; }

  .event-name { 
    margin: 0; 
    color: $lighter-gray;
  }

  .event-date { 
    font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: $bluish-gray;
    text-transform: uppercase;
  }
}
