.default-navbar {
  background: transparent;
  height: 75px;

  .navi {
    height: 75px;
    @include display-flex;
  }

  .brand {
    float: left;
    .logo { 
      width: 160px; 
      @include align-self(center);
    }
  }

  .links {
    .btn { 
      margin-left: auto;
      @include align-self(center);
    }
  }

  &.-fixed {
    position: fixed;
    width: 100%;
    height: 90px;

    .navi {
      height: 90px;
    }
  }
}
