.default-navbar {
  z-index: 2;
  height: 90px;
  background: transparent;
  @include transition(all 0.4s ease);

  .navi {
    height: 90px;
    @include display-flex;
  }

  .brand {
    float: left;
    .logo { 
      width: 160px; 
      @include align-self(center);
    }

    .nav-link {
      font-size: 1.2em;
      color: $lighter-gray; 
      margin-left: 30px;
      @include align-self(center);
      @include transition(all 0.3s);

      &:hover, &:active, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }

  .links {
    .btn { 
      margin-left: auto;
      @include align-self(center);
    }
  }

  &.-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background: #fff; 
    border: 1px solid $hr-gray;

    .navi {
      height: 75px;
    }
  }
}
