.default-navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 75px;
  background: #fff; 
  border: 1px solid $hr-gray;
  @include transition(all 0.4s ease);

  .navi {
    height: 75px;
    @include display-flex;
  }

  .brand {
    float: left;

    .logo { 
      width: 160px; 
      @include align-self(center);
    }

    .nav-link {
      font-size: 1.2em;
      color: $gray; 
      margin-left: 22px;
      @include align-self(center);
      @include transition(all 0.3s);

      &:hover, &:active, &:focus {
        color: $black;
        text-decoration: none;
      }
    }
  }

  .links {
    float: right;

    .social-icon { 
      font-size: 2em;
      color: $lighter-gray;
      margin-right: 25px;
      @include align-self(center);
      @include transition(all 0.3s);

      &:active, &:hover, &:focus {
        color: darken($lighter-gray, 20%);
      }
    }

    .btn { 
      @include align-self(center); 
      padding: 14px 60px;
    }
  }

  @media ( max-width: 550px ) {
    .brand {
      .logo { width: 125px; }
      .nav-link {  margin: 3px 0 0 10px; }
    }

    .links {
      .social-icon {
        margin-right: 12px;
        font-size: 1.7em;
      }

      .btn { 
        font-size: 14px;
        padding: 10px 14px;
      }
    }
  }
}

