.targets {
  .target-image {
    margin: 0 auto 20px;
  }

  .target-content {
    margin-bottom: 20px;
    padding: 30px;
    min-height: 420px;
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
  }

  .target-header {
    font-size: 2.2em;
    color: $grayish-white;
    margin-bottom: 10px;
  }

  .target-text {
    font-size: 1.2em;
    color: $lighter-gray;
    margin-bottom: 30px;
  }

  .target-misc {
    .btn-target {
      max-width: 200px; 
      width: 100%; 
      margin-bottom: 20px;
    }

    .tip {
      font-size: 0.95em;
      color: $bluish-gray;
      margin-top: 5px;
    } 
  }
}
