<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="body">
      {% include nav.html %}
      <div class="splash -home -large">
        <div class="container">
          <div class="splash-content">
            <h1 class="splash-header">The only one who tells you that you cant, is you.</h1>
            <!--<h1> BOLDED is about celebrating underprivileged young people as strong human beings. </h1>-->
            <!--<a href="#onboard" class="btn btn-outline">Get onboard</a>-->
            <img src="./assets/images/play_btn.png" class="play-btn" />
          </div>
        </div>
      </div>

      {% include about.html %}
      {% include documentary.html %}
      {% include events.html %}
      {% include targets.html %}
      {% include objective.html %}
      {% include video.html %}
      <!--<div class="separator"></div>-->
      {% include story.html %}
      <!--<div class="separator"></div>-->
      {% include founder.html %}
      <!--<div class="separator borderless"></div>-->

      {% include team.html %}

      <!--<div class="invite-dark">-->
      {% include invite.html %}
      <!--</div>-->


    </div>

    <!--{{ content }}-->

    {% include footer.html %}

  </body>

</html>
