<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="body">
      <div class="jumbotron">
        <div class="navbar">
          <div class="container">
            <div class="social-icons">
              <i class="icon ion-social-facebook"></i>
              <i class="icon ion-social-twitter"></i>
            </div>
            <div class="logo"><a href="/"><img src="./assets/images/logo-horizontal.png"></a></div>
          </div>
        </div>
        <div class="container">
          <div class="intro">
          <h3>What is Bolded?</h3>
            <h1>
              <strong>BOLDED</strong> is about celebrating underprivileged <br/>young people as strong human beings. </h1>
            <a href="#onboard" class="btn btn-outline">Get onboard</a>
            <p></p>
          </div>
        </div>
      </div>

      {% include video.html %}
      {% include targets.html %}
      <div class="separator"></div>
      {% include story.html %}
      <div class="separator"></div>
      {% include invite.html %}
      <div class="separator"></div>
      {% include founder.html %}
      <div class="separator borderless"></div>

      {% include team.html %}
    </div>

    <!--{{ content }}-->

    <!--{% include footer.html %}-->

  </body>

</html>
