<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="team">

      {% include nav.html %}

      <div class="splash -home -large">
        <div class="container splash-container">
          <div class="splash-content -team">
            <h2 class="splash-header ">" The only one who tells you that you can't, is you "</h2>
            <p class="splash-text">Meet the awesome people behind team BOLDED</p>
          </div>
        </div>
      </div>

      {% include team_members.html %}
      {% include team_message.html %}

    </div>

    <!--{{ content }}-->
    {% include footer.html %}

  </body>

</html>
